@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 8px 24px;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 16px;
  text-transform: uppercase;
  font-weight: small;
}

#privileges, #opinion {
  background-color: #866699;
}


.btn-primary {
  color: #fff;
  background: #866699;
}

.btn-primary:hover {
  background-color: #4b106d;
  transition: background 0.3s ease-in-out;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background-color: #7c7979bd;
  color: #fff;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}

.menu-items {
  display: flex;
  margin-left: 25%;
}

.menu-items li {
  list-style: none;
  margin-left: 24px;
  margin-bottom: 8px;
  font-size: 19.2px;
}

.menu-items a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  transition: color 0.3s ease-in-out;

}

.menu-items a:hover {
  color: #4b106d;
  transition: color 0.3s ease-in-out;
}

.hero {
  height: 50vh;
  background: linear-gradient(
      rgba(240, 240, 240, 0.144),
      rgba(255, 255, 255, 0.336)
    ),
    url(gym.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 25.6px;
}

.main-title {
  text-transform: uppercase;
  margin-top: 24px;
}

#about {
  padding: 50px 0;
  background-color: #f5f5f7;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#about h2 {
  font-size: 36.8px;
}

#about p {
  font-size: 17.6px;
  color: #555;
}

#about .about-title {
  font-size: 30px;
  color: #666;
  font-weight: 600;
}

.about-img {
  flex: 1.5 1.5 400px;
  margin-top: 97px;
  padding: 30px;
  transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}

.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translate(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}

#privileges{
  padding: 60px 0px 140px 0px;
}

#privileges h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #fff;
}

.pr-container {
  display: flex;
  justify-content: space-between;
}

.pr-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.img-container {
  margin: 0 3px;
  position: relative;
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
  color: #fff;
  font-size: 24px;
}

.img-content a {
  font-size: 15px;
}

.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}

.membership-heading {
  text-align: center;
  font-size: 54.4px;
  font-weight: 400;
  color: #666;
  padding-top: 30px;
}

.membership-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 30px 0px;
}

.membership-container img {
  display: block;
  width: 255px;
  height: 255px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-top: 40px;
  margin-bottom: 12px;
}

.btn-mem{
  color: #fff;
  background: #866699;
  display: inline-block;
  padding: 1px 24px;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 16px;
  text-transform: uppercase;
  font-weight: small;
  font-size: 20px;
}

.btn-mem {
  display: inline-block;
  padding: 8px 24px;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 16px;
  text-transform: uppercase;
  font-weight: small;
}

.btn-mem:hover {
  background-color: #4b106d;
  transition: background 0.3s ease-in-out;
}

.membership-item {
  display: flex;
  flex: 1 1 600px;
  justify-content: space-evenly;
  margin-bottom: 48px;
}

.ms-description {
  margin: auto 24px;
}

.font-title {
  font-size: 28.8px;
  font-weight: 400;
  color: #444;
}

.ms-description p {
  font-size: 20.8px;
  color: #555;
  font-weight: 500;
}

.ms-description .ms-price {
  color: #866699;
  font-weight: 700;
  padding-top: 3px;
}

.ms-title {
  padding-bottom: 3px;
  padding-top: 2px;
}

#opinion {
  padding: 30px 0;
}

.opinion-title {
  text-align: center;
  font-size: 44.8px;
  font-weight: 400;
  color: #fff;
}

.opinion-container {
  display: flex;
  justify-content: space-between;
  font-size: 22.4px;
  padding: 16px;
}

.opinion-box .opinion-text {
  margin: 16px 0;
  color: #fff;
}

.opinion-box {
  text-align: center;
  padding: 16px;
}

.customer-photo img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: auto;
}

.customer-name {
  color: #fff;
}

#contact {
  padding: 80px 0;
  background-color: rgb(226, 226, 226);
}

.contact-container {
  display: flex;
  background-color: #fff;
}

.contact-img {
  width: 50%;
}

.contact-img img {
  display: block;
  height: 400px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.form-container {
  padding: 16px;
  width: 50%;
  margin: auto;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 16px 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 16px;
  color: #444;
  font-weight: 500;
}

.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  color: #444;
  outline: none;
  padding: 16px 0;
  resize: none;
}

.form-container h2 {
  font-size: 43.2px;
  font-weight: 500;
  color: #444;
  margin-bottom: 16px;
  margin-top: -19.2px;
}

.form-container a {
  font-size: 20.8px;
}

@media (max-width: 810px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar .menu-items{
    padding-top: 100px;
    background-color: #866699;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #fff;
    color: #fff;
  }

  .menu-items a{
    color: #e2dada;
  }

  .navbar-container .hamburger-lines {
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: #e2dada;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  } 

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .pr-container {
    flex-direction: column;
    align-items: stretch;
  }

  .pr-type:not(:last-child) {
    margin-bottom: 48px;
  }

  .pr-type {
    box-shadow: 5px 5px 10px 0 #fff;
  }

  .img-container {
    margin: 0;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 70px;
  }
}

@media (max-width: 810px) {
  html {
    font-size: 65%;
  }

  .opinion-container {
    flex-direction: column;
    text-align: center;
  }
  .customer-photo img {
    min-width: 200px;
    min-height: 200px;
  }

  .membership-container img {
    margin: auto;
  }

  #privileges h2{
    font-size: 25px;
  }

  .membership-heading{
    font-size: 40px;
  }

  .ms-title{
    font-size: 22px;
  }

  .opinion-title{
    font-size: 33px;
  }

  .opinion-text{
    font-size: 18px;
  }

  .membership-item {
    flex-direction: column;
    text-align: center;
  }

  .form-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 48px auto;
  }

  .navbar .menu-items li {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
  }
}

@media(max-width: 1200px) {
  .img-container h3 {
    font-size: 24px;
    text-align: center;
  }

  .img-container img{
    min-width: 240px;
    min-height: 350px;
  }

  .img-container .btn {
    font-size: 15px;
    text-align: center;
  }
}

.btn-buy {
  color: #fff;
  background: #866699;
  display: inline-block;
  padding: 1px 24px;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 16px;
  text-transform: uppercase;
  font-weight: small;
  font-size: 20px;
}

.btn-buy:hover {
  background-color: #4b106d;
  transition: background 0.3s ease-in-out;
}

.footer {
  margin-top: 0px;
  width: 100%;
  padding: 60px 15%;
  color: #fff;
  display: flex;
  box-sizing: border-box;
}

.footer div {
  text-align: center;
}

.col-2{
  flex-grow: 2;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.col-1 a {
  display: block;
  text-decoration: none;
  color: #fff;
}

form input {
  width: 200px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  cursor: pointer;
}

.social-icons {
  margin-top: 30px;
}

.social-icons i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}

#footer {
  background-color: #866699;
}

@media (max-width: 800px) {
  .social-icons i {
    font-size: 12px;
    position: relative;
  }

  form input {
    max-width: 130px;
    max-height: 25px;
  }

  form button {
    max-width: 125px;
    max-height: 55px;
  }

  .col-1 {
    font-size: 12px;
  }

  .col-3{
    font-size: 12px;
  }
}